

.calc-main {
  background-color: #483d8b;
  height: 100%;
}

.calc-display {
  background-color: #9370db;
  padding: 50px 20px 50px;
}

ion-row{
  padding: 8px;
}

ion-input {
  color: #ffffff;
  font-size: 70px;
}

ion-col {
  padding: 0;
  margin: 0;
  text-align: center;
}

ion-button {
  
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 25px;
}

.double-width {
  width: 86%;
}

hr {
  color: white;
}

// Hamburger menu

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}




/* Hamburger */
.hamburger1 {
  height: 10px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: left;
  z-index: 120;
}

.hamburger1 div {
  background-color: white;
  position: relative;
  width: 30px;
  height: 2px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 1.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 220px;
}


/* Menu */
.menu1 {
  width: 50%;
  background-color: #02173F;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 10px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}